

body {
 background-image: url("Stivjulemand.jpg");
 background-color: #b97b7b;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-blend-mode: screen
}     